html {
  height: 100% !important;
}

body {
  height: inherit;
  display: flex !important;
  flex-direction: column !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url("assets/fonts/IBMPlexSans.ttf") format("truetype");
  font-weight: bold;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: inherit;
  color: inherit;
}

#root {
  height: inherit;
  display: inherit;
  flex-direction: inherit;
}
